.footer {
  display: flex;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-text-dark);

  .icons {
    padding: 10px;

    .social {
      color: white;
      font-size: 2rem;
    }
  }
}
