.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../assets/images/nantes-header.jpg");
  background-size: cover;
  background-position: center;
  height: 35vh;
  top: 0;
  left: 0;
  right: 0;

  .text {
    background-color: rgba(255, 255, 255, 0.5);
    font-family: "BioRhyme", serif;
    text-align: center;
    margin: 5vw;
    border-radius: 10px;
    padding: 10px;
    color: var(--color-text-dark);
    text-shadow: rgb(57, 10, 107) 9px 3px 14px;
  }

  h1 {
    font-family: "Titillium Web", sans-serif;
    font-size: 4rem;
  }

  h2 {
    font-family: "Titillium Web", sans-serif;
    font-size: 2rem;
    color: var(--color-text-dark);
  }
}

@media screen and (max-width: 500px) {
  .text h2 {
    display: none;
    visibility: hidden;
  }
}