@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap");

.NavBar {
  ul {
    display: flex;
    gap: 5px;
    justify-content: space-around;
    padding: 10px;
    background-color: var(--color-text-dark);
    font-family: "Titillium Web";
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    color: var(--color-text-light);
    letter-spacing: 2px;
  }
}
