@import url("https://fonts.googleapis.com/css2?family=BioRhyme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap");

.nav-icon {
  height: 20px;
  width: 20px;
  margin: 5px 10px 0 0;
}

.navigation {
  width: 100%;
  display: flex;
}

.ul-nav {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-bg-variant);
  width: 100%;
}

.nav-li {
  margin: 1rem;

  padding: 1.2rem;
}

.a-nav {
  color: var(--color-text-light);
  font-weight: 700;
}

.nav-li:hover {
}

/*==================== MEDIA QUERIES (small devices) ==========*/
@media screen and (max-width: 600px) {
  .nav-li {
    margin-left: auto;
    margin-right: auto;
  }
}
