@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.container {
  display: flex;
  justify-content: start;
  align-items: center;
  align-content: space-evenly;
  // position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
.sidebar {
  display: flex;
  gap: 25px;
  background-color: var(--color-bg-variant);
  color: var(--color-text-light);
  height: 100%;
  width: 200px;
  transition: all 0.5s;
}
.links {
  color: var(--color-text-light);
  padding: 20px 10px;
  gap: 15px;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
}
.bars {
  display: flex;
  font-size: 2rem;
  margin-left: 50px;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
  -webkit-transition: all 0.25s;
  position: absolute;
}
.bars:hover {
  transform: rotate(90deg);
  color: #ff9900;
}

#icon {
  display: flex;
  margin-top: 50px;
  font-size: 2rem;
  text-align: center;
}
#text {
  font-family: "Titillium Web";
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  padding: 25px;
  color: var(--color-text-light);
  letter-spacing: 2px;
}

.dept {
  display: flex;
  justify-content: center;
}
