@import "./style/app.scss";
@import "./style/header.scss";
@import "./style/nav.scss";
@import "./style/categories.scss";
@import "./style/recommandation.scss";
@import "./style/contact.scss";
@import "./style/footer.scss";
@import "./style/_card.scss";
@import "./style/_tarifGratuit.scss";
@import "./style/_MultiRangeSlider.scss";
@import "./style/sidebar";

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  position: relative;
}

:root {
  --color-bg: whitesmoke;
  --color-secondary: #4fa095;
  --color-bg-variant: #153462;
  --color-text-light: whitesmoke;
  --color-text-dark: #153462;
}

@font-face {
  font-family: "BioRhyme";
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css2?family=BioRhyme&display=swap");
}
