@import "./style/_app.scss";
@import "./style/_header.scss";
@import "./style/_carouselcategories.scss";
@import "./style/_recommandation.scss";
@import "./style/_footer.scss";
@import "./style/_card.scss";
@import "./style/_tarifGratuit.scss";
@import "./style/_sidebar";
@import "./style/_navigation";
@import "./style/_navigationCategories";
@import "./style/_categ.scss";
@import "./style/_filtreDate.scss";
@import "./style/page2";
@import url("https://fonts.googleapis.com/css2?family=BioRhyme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  position: relative;
}

:root {
  --color-bg: whitesmoke;
  --color-secondary: #4fa095;
  --color-bg-variant: #153462;
  --color-text-light: whitesmoke;
  --color-text-dark: #153462;
}

// @font-face {
//   font-family: 'BioRhyme', serif;
//   font-weight: 400;
//   src: url("https://fonts.googleapis.com/css2?family=BioRhyme&display=swap");
// }
